<div
  class="col-lg-6 offset-lg-3 col-md-8 offset-md-2"
  *ngIf="!signUpSuccess; else successMessage"
>
  <div class="card" data-testid="form-sign-up">
    <div class="card-header text-center">
      <h1>Sign Up</h1>
    </div>
    <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="onClickSignUp()">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input
            type="text"
            formControlName="username"
            id="username"
            aria-label="username"
            placeholder="Username"
            class="form-control"
          />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="text"
            formControlName="email"
            id="email"
            aria-label="email"
            placeholder="Email"
            class="form-control"
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            formControlName="password"
            id="password"
            aria-label="password"
            placeholder="Password"
            class="form-control"
          />
        </div>
        <div class="mb-3">
          <label for="confirmPassword" class="form-label"
            >Confirm password</label
          >
          <input
            type="password"
            formControlName="confirmPassword"
            id="confirmPassword"
            aria-label="confirm password"
            placeholder="Confirm password"
            class="form-control"
          />
        </div>
        <div class="text-center">
          <app-button
            [disabled]="isButtonDisabled()"
            [apiProgress]="apiProgress"
            >Sign Up</app-button
          >
        </div>
      </form>
    </div>
  </div>
</div>
<ng-template #successMessage>
  <app-alert><ng-content></ng-content></app-alert>
</ng-template>
